.centered {
    align: center;
}

.body {
    background-color: #AAA;
    padding: 2em 2em 2em 2em;
    width: 67%;
    align: center;
}

.body h2 {
  color: #22F;
  padding: 1em 1em 1em 1em;
  background-color: #777;
}

.body p {
  color: #7F7;
}

.main-body {
  background-color: #777;
  padding: 1em 1em 1em 1em;
}

a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.data-table th {
  background-color: #CCC;
  padding: 1em 1em 1em 1em;
  font-weight: bold;
  color: #000;
  font-size: 125%;
}

.data-table td {
  background-color: #EEE;
  padding: 1em 1em 1em 1em;
}

.show-todo {
  font-size: 150%;
  background-color: #777;
  color: #000;
  padding: 1em 1em 1em 1em;
}

.notice {
    color: #A33;
    font-size: 125%;
}