<h2>&Uuml;ber-to-do, don't you?</h2>

<div class="main-body">

<p>
  Jump on in and <%= link_to "manage your tasks", :controller => "items"  %>.
</p>

<p>
  Simply the best todo list managment with umlauts.
</p>

</div>
